/* ==========================================================================
   Base
   ========================================================================== */

$fm-body-bg: white;
$fm-body-fg: #303030;
$fm-menu-bg: #404040;
$fm-menu-fg: white;
$fm-menu-secondary: #222;
$fm-user-menu-width: 160px;
$fm-animation-speed: 0.4s;
$break-medium: 1024px;
$break-large: 1200px;

/* ==========================================================================
   Typography
   ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Lato:300,400);

$fm-font-family-default: "Lato", sans-serif;
$fm-font-weight-light: 300;
$fm-font-weight-normal: 400;
$fm-font-weight-bold: 900;
$fm-base-font-size: 16px;

/* ==========================================================================
   Colour wheel
   ========================================================================== */

$color-wheel: (
	a: #ECB53E,
	b: #8AC37E,
	c: #88B25B,
	d: #459C76,
	e: #32AFE5,
	f: #2A7FB9,
	g: #385F8C,
	h: #AE74AF,
	i: #744589,
	j: #A7305D,
	k: #D03B43,
	l: #DC8336
);

$fm-color-overflow: #191919;
$fm-color-neutral: #e4e4e3;