@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/*!
 * Doughnut chart styles
 */
/* ==========================================================================
   Configuration
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Colour wheel
   ========================================================================== */
/* ==========================================================================
   Colour
   ========================================================================== */
/* Basic colour wheel classes */
.fm-datum-color-wheel-a {
  fill: #ECB53E; }

.fm-datum-color-wheel-b {
  fill: #8AC37E; }

.fm-datum-color-wheel-c {
  fill: #88B25B; }

.fm-datum-color-wheel-d {
  fill: #459C76; }

.fm-datum-color-wheel-e {
  fill: #32AFE5; }

.fm-datum-color-wheel-f {
  fill: #2A7FB9; }

.fm-datum-color-wheel-g {
  fill: #385F8C; }

.fm-datum-color-wheel-h {
  fill: #AE74AF; }

.fm-datum-color-wheel-i {
  fill: #744589; }

.fm-datum-color-wheel-j {
  fill: #A7305D; }

.fm-datum-color-wheel-k {
  fill: #D03B43; }

.fm-datum-color-wheel-l {
  fill: #DC8336; }

.fm-datum-color-overflow {
  fill: #191919; }

/* Colour tint classes */
.fm-datum-color-wheel-a.tint-1 {
  fill: #f1c76c; }

.fm-datum-color-wheel-a.tint-2 {
  fill: #fefcf8; }

.fm-datum-color-wheel-b.tint-1 {
  fill: #aad3a1; }

.fm-datum-color-wheel-b.tint-2 {
  fill: white; }

.fm-datum-color-wheel-c.tint-1 {
  fill: #a2c27e; }

.fm-datum-color-wheel-c.tint-2 {
  fill: #edf3e6; }

.fm-datum-color-wheel-d.tint-1 {
  fill: #5db78f; }

.fm-datum-color-wheel-d.tint-2 {
  fill: #c7e6d8; }

.fm-datum-color-wheel-e.tint-1 {
  fill: #5fc1eb; }

.fm-datum-color-wheel-e.tint-2 {
  fill: #e7f6fc; }

.fm-datum-color-wheel-f.tint-1 {
  fill: #429ad4; }

.fm-datum-color-wheel-f.tint-2 {
  fill: #bfdcf0; }

.fm-datum-color-wheel-g.tint-1 {
  fill: #4778b0; }

.fm-datum-color-wheel-g.tint-2 {
  fill: #b0c6e0; }

.fm-datum-color-wheel-h.tint-1 {
  fill: #c094c2; }

.fm-datum-color-wheel-h.tint-2 {
  fill: #f9f5fa; }

.fm-datum-color-wheel-i.tint-1 {
  fill: #9057aa; }

.fm-datum-color-wheel-i.tint-2 {
  fill: #d3bcde; }

.fm-datum-color-wheel-j.tint-1 {
  fill: #c94175; }

.fm-datum-color-wheel-j.tint-2 {
  fill: #ebb8cc; }

.fm-datum-color-wheel-k.tint-1 {
  fill: #da646c; }

.fm-datum-color-wheel-k.tint-2 {
  fill: #f7e0e1; }

.fm-datum-color-wheel-l.tint-1 {
  fill: #e49c61; }

.fm-datum-color-wheel-l.tint-2 {
  fill: #faeee4; }

.fm-datum-color-overflow.tint-1 {
  fill: #333333; }

.fm-datum-color-overflow.tint-2 {
  fill: #7f7f7f; }

/* ==========================================================================
   Plugin style definitions
   ========================================================================== */
.fm-hidden {
  display: none; }

.fm-segment {
  stroke: white;
  stroke-width: 1; }
  .fm-segment:hover {
    cursor: pointer; }

.fm-label text {
  fill: white; }

.fm-doughnnut-tooltip text {
  fill: white; }

.fm-bracket {
  fill: 'none';
  stroke: #A3ADAD;
  stroke-dasharray: 2, 2; }

.fm-doughnut-segment {
  stroke: white;
  stroke-width: 1; }

.fm-overlay-segment {
  opacity: 0.5; }

.fm-key text, .fm-key tspan {
  font-size: 12px;
  font-family: 'Lato', serif; }
.fm-key tspan {
  font-size: 11px; }

.fm-key-container {
  stroke-width: 1; }
