/* ==========================================================================
   Base
   ========================================================================== */

$fm-body-bg: white;
$fm-body-fg: #303030;
$fm-menu-bg: #404040;
$fm-menu-fg: white;
$fm-menu-secondary: #222;
$fm-user-menu-width: 160px;
$fm-animation-speed: 0.4s;
$break-medium: 1024px;
$break-large: 1200px;

/* ==========================================================================
   Typography
   ========================================================================== */

$fm-font-family-default: "Lato", sans-serif;
$fm-font-weight-light: 300;
$fm-font-weight-normal: 400;
$fm-font-weight-bold: 900;
$fm-base-font-size: 16px;

/* ==========================================================================
   Colour wheel
   ========================================================================== */

$color-wheel: (
	a: black,
	b: blue,
	c: pink,
	d: red,
	e: purple,
	f: green,
	g: yellow,
	h: silver,
	i: orange,
	j: violet,
	k: gold,
	l: brown
);

$fm-color-overflow: #191919;
$fm-color-neutral: #e4e4e3;