$body-background-color: #f8f5f0;
$sidebar-background: #f2f1ee;

$radial-center: #6daacc;
$radial-outer: #527a92;

$default-header-height: 6rem;

$dark-text: #4d4c4b;

$grey-stroke: #d9d4cb;

$nearly-danger: #fac163;

