/* ==========================================================================
   Colour
   ========================================================================== */

/* Basic colour wheel classes */

.fm-datum-color-wheel-a {
  fill: $fm-color-wheel-a;
}

.fm-datum-color-wheel-b {
  fill: $fm-color-wheel-b;
}

.fm-datum-color-wheel-c {
  fill: $fm-color-wheel-c;
}

.fm-datum-color-wheel-d {
  fill: $fm-color-wheel-d;
}

.fm-datum-color-wheel-e {
  fill: $fm-color-wheel-e;
}

.fm-datum-color-wheel-f {
  fill: $fm-color-wheel-f;
}

.fm-datum-color-wheel-g {
  fill: $fm-color-wheel-g;
}

.fm-datum-color-wheel-h {
  fill: $fm-color-wheel-h;
}

.fm-datum-color-wheel-i {
  fill: $fm-color-wheel-i;
}

.fm-datum-color-wheel-j {
  fill: $fm-color-wheel-j;
}

.fm-datum-color-wheel-k {
  fill: $fm-color-wheel-k;
}

.fm-datum-color-wheel-l {
  fill: $fm-color-wheel-l;
}

.fm-datum-color-overflow {
  fill: $fm-color-overflow;
}

/* Colour tint classes */

.fm-datum-color-wheel-a.tint-1 {
  fill: lighten($fm-color-wheel-a, 10);
}

.fm-datum-color-wheel-b.tint-1 {
  fill: lighten($fm-color-wheel-b, 10);
}

.fm-datum-color-wheel-c.tint-1 {
  fill: lighten($fm-color-wheel-c, 10);
}

.fm-datum-color-wheel-d.tint-1 {
  fill: lighten($fm-color-wheel-d, 10);
}

.fm-datum-color-wheel-e.tint-1 {
  fill: lighten($fm-color-wheel-e, 10);
}

.fm-datum-color-wheel-f.tint-1 {
  fill: lighten($fm-color-wheel-f, 10);
}

.fm-datum-color-wheel-g.tint-1 {
  fill: lighten($fm-color-wheel-g, 10);
}

.fm-datum-color-wheel-h.tint-1 {
  fill: lighten($fm-color-wheel-h, 10);
}

.fm-datum-color-wheel-i.tint-1 {
  fill: lighten($fm-color-wheel-i, 10);
}

.fm-datum-color-wheel-j.tint-1 {
  fill: lighten($fm-color-wheel-j, 10);
}

.fm-datum-color-wheel-k.tint-1 {
  fill: lighten($fm-color-wheel-k, 10);
}

.fm-datum-color-wheel-l.tint-1 {
  fill: lighten($fm-color-wheel-l, 10);
}

.fm-datum-color-overflow.tint-1 {
  fill: lighten($fm-color-overflow, 10);
}