/*!
 * Line chart styles
 */

/* ==========================================================================
  Configuration
   ========================================================================== */

@import 'variables';
@import 'classes';

$fm-color-pull-out-indicator: $fm-color-wheel-h; //#B2B2B2;

/* ==========================================================================
   Plugin style definitions
   ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

.fm-hidden {
	display: none;
}

.fm-scale {
	fill: none;
}

.fm-x-axis {
	.fm-axis {
		stroke: #808080;
		stroke-width: 1px;
	}
}

.fm-tick-mark {
	line {
		stroke: #B3B3B3;
	}
}

.fm-grid-line {
	stroke: #B3B3B3;
}

.fm-line-dot {
	&:hover {
		cursor: pointer;
	}
}

.fm-label {
	text {
		fill: white;
	}
}

.fm-trend-line {
	stroke-width: 2;
}

.fm-line-stroke {
	stroke-width: 2;
}

.fm-x-tracker {
	stroke: #808080;
	stroke-width: 1px;
	
	&.label {
		fill: #303030;
	}
}

.fm-pullout {
	rect {
		fill: $fm-color-pull-out-indicator;
		opacity: 0.1;
	}
	
	line {
		stroke: $fm-color-pull-out-indicator;
		stroke-dasharray: 5 3;
	}
}

.fm-pull-out-key-item {
	rect {
		fill: rgba($fm-color-pull-out-indicator, 0.1);
		stroke: $fm-color-pull-out-indicator;
		stroke-dasharray: 5 3;
	}
	
	text {
		font-family: Lato, Sans-Serif;
		font-size: 12px;
		font-weight: bold;
		dominant-baseline: mathematical;
	}
}

@mixin fm-label-text() {
	fill: white;
	stroke: none;
	alignment-baseline: central;
	font-family: Lato, sans-serif;
	font-size: 12px;
}

.fm-line-tooltip.fm-annotation {
	text {
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		font-weight: bold;
		fill: white;
		stroke: none;
	}
}

.fm-label-title {
	@include fm-label-text;
	text-anchor: middle;
}

.fm-label-key {
	@include fm-label-text;
	text-anchor: start;
}

.fm-label-value {
	@include fm-label-text;
	text-anchor: end;
}

.fm-tooltip {
	font-weight: 400;
	&.fm-secondary {
		fill: white;
		stroke: black;
		stroke-width: 1;
		text {
			fill: black;
		}
		ellipse {
			stroke: none;
		}
	}
	text {
		dominant-baseline: central;
		fill: white;
		font: {
			family: 'Lato', sans-serif;
			size: 12px;
		}
		stroke: none;
	}
}
