@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
/*!
 * Bubble chart styles
 */
/* ==========================================================================
   Configuration
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Colour wheel
   ========================================================================== */
/* ==========================================================================
   Colour
   ========================================================================== */
/* Basic colour wheel classes */
.fm-datum-color-wheel-a {
  fill: #ECB53E; }

.fm-datum-color-wheel-b {
  fill: #8AC37E; }

.fm-datum-color-wheel-c {
  fill: #88B25B; }

.fm-datum-color-wheel-d {
  fill: #459C76; }

.fm-datum-color-wheel-e {
  fill: #32AFE5; }

.fm-datum-color-wheel-f {
  fill: #2A7FB9; }

.fm-datum-color-wheel-g {
  fill: #385F8C; }

.fm-datum-color-wheel-h {
  fill: #AE74AF; }

.fm-datum-color-wheel-i {
  fill: #744589; }

.fm-datum-color-wheel-j {
  fill: #A7305D; }

.fm-datum-color-wheel-k {
  fill: #D03B43; }

.fm-datum-color-wheel-l {
  fill: #DC8336; }

.fm-datum-color-overflow {
  fill: #191919; }

/* Colour tint classes */
.fm-datum-color-wheel-a.tint-1 {
  fill: #f1c76c; }

.fm-datum-color-wheel-b.tint-1 {
  fill: #aad3a1; }

.fm-datum-color-wheel-c.tint-1 {
  fill: #a2c27e; }

.fm-datum-color-wheel-d.tint-1 {
  fill: #5db78f; }

.fm-datum-color-wheel-e.tint-1 {
  fill: #5fc1eb; }

.fm-datum-color-wheel-f.tint-1 {
  fill: #429ad4; }

.fm-datum-color-wheel-g.tint-1 {
  fill: #4778b0; }

.fm-datum-color-wheel-h.tint-1 {
  fill: #c094c2; }

.fm-datum-color-wheel-i.tint-1 {
  fill: #9057aa; }

.fm-datum-color-wheel-j.tint-1 {
  fill: #c94175; }

.fm-datum-color-wheel-k.tint-1 {
  fill: #da646c; }

.fm-datum-color-wheel-l.tint-1 {
  fill: #e49c61; }

.fm-datum-color-overflow.tint-1 {
  fill: #333333; }

/* ==========================================================================
   Plugin style definitions
   ========================================================================== */
.fm-hidden {
  display: none; }

.fm-scale {
  fill: none; }

.fm-x-axis .fm-axis {
  stroke: #808080;
  stroke-width: 1px; }

.fm-tick-mark line {
  stroke: #B3B3B3; }

.fm-grid-line {
  stroke: #B3B3B3; }

.fm-scatter-bubble {
  cursor: pointer;
  fill-opacity: 0.2; }
  .fm-scatter-bubble:hover, .fm-scatter-bubble.fm-scatter-bubble-active {
    fill-opacity: 0.6;
    stroke-width: 2px; }

.fm-primary {
  background-color: #2A7FB9;
  fill: #2A7FB9; }

.fm-secondary {
  background-color: #32AFE5;
  fill: #32AFE5; }

.fm-bubble-tooltip {
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 12px;
  margin: 20px;
  position: absolute; }
  .fm-bubble-tooltip table {
    border-collapse: collapse;
    width: 100%; }
  .fm-bubble-tooltip td {
    vertical-align: top; }

.fm-tooltip__group {
  padding: 10px; }

.fm-tooltip__group + .fm-tooltip__group {
  border-top: 1px solid #fff; }

.fm-tooltip__group--bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.fm-tooltip__group--top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative; }

.fm-tooltip__key {
  padding: 0 5px 0 0;
  width: 80%; }

.fm-tooltip__value {
  text-align: right;
  width: 20%; }

.fm-tooltip__name {
  text-align: center; }

.fm-tooltip__arrow {
  margin: -5px 0 0 0;
  position: absolute;
  top: 50%; }

.fm-tooltip__arrow--left {
  left: -10px; }
  .fm-tooltip__arrow--left .arrow--left {
    display: block; }

.fm-tooltip__arrow--right {
  right: -10px; }
  .fm-tooltip__arrow--right .arrow--right {
    display: block; }

.fm-tooltip__arrow polygon {
  display: none; }
