/* ==========================================================================
   Base
   ========================================================================== */

$fm-body-bg: white;
$fm-body-fg: #303030;
$fm-menu-bg: #404040;
$fm-menu-fg: white;
$fm-menu-secondary: #222;
$fm-user-menu-width: 160px;
$fm-animation-speed: 0.4s;
$break-medium: 1024px;
$break-large: 1200px;

/* ==========================================================================
   Typography
   ========================================================================== */

$fm-font-family-default: "Lato", sans-serif;
$fm-font-weight-light: 300;
$fm-font-weight-normal: 400;
$fm-font-weight-bold: 900;
$fm-base-font-size: 16px;

/* ==========================================================================
   Colour wheel
   ========================================================================== */

$fm-color-wheel-a: #ECB53E;
$fm-color-wheel-b: #8AC37E;
$fm-color-wheel-c: #88B25B;
$fm-color-wheel-d: #459C76;
$fm-color-wheel-e: #32AFE5;
$fm-color-wheel-f: #2A7FB9;
$fm-color-wheel-g: #385F8C;
$fm-color-wheel-h: #AE74AF;
$fm-color-wheel-i: #744589;
$fm-color-wheel-j: #A7305D;
$fm-color-wheel-k: #D03B43;
$fm-color-wheel-l: #DC8336;
$fm-color-overflow: #191919;

