$color-wheel: (
	#8AC37E,
	#88B25B,
	#459C76,
	#32AFE5,
	#2A7FB9,
	#385F8C,
	#AE74AF,
	#744589,
	#A7305D,
	#D03B43,
	#DC8336
);
$black: mix(black, nth($color-wheel, 1), 90%);

$hover-transition: 0.5s ease-in-out;

.segment {
	stroke: $black;
	stroke-width: 1.5px;
	
	@for $index from 1 to  length($color-wheel) {
		$color: nth($color-wheel, $index);
		
		&.segment-#{$index} {
			fill: $color;
			
			transition: transform $hover-transition, fill 1s linear;
			
			&:hover {
				fill: lighten($color, 10);
				
				transform: scale(1.1);
			}
		}
	
	}
}

.fm-dashed-bracket {
	fill: none;
	stroke: $black;
	stroke-weight: 1px;
	stroke-dasharray: 3 2;
	transition: opacity $hover-transition;
	
}
.hidden {
	opacity: 0;
}
.label {
	dominant-baseline: ideographic;
	
	&.left {
		text-anchor: end;
	}
	&.right {
		text-anchor: start;
	}
}

.key {
	border: 1.5px solid $black;
	color: transparent;
	
	@for $index from 1 to  length($color-wheel) {
		$color: nth($color-wheel, $index);
		
		&.key-#{$index} {
			background-color: $color;
		}
	
	}
}

@for $size from 0 to 100 {
	
	tr.value-#{$size} {
		$percent: 0% + $size;
		width: $percent;
		background-color: mix(nth($color-wheel, 1), nth($color-wheel, 2), $percent);
	}
}

table.fallback {
	width: 100%;
	
	tr {
		display: block;
		margin-bottom: 0.6em;
		color: white;
		position: relative;
		
		td.value {
			position: absolute;
			top: 0.1em;
			right: 0.1em;
		}
	}
	
	th {
		color: $black;
	}
}