.segment {
  stroke: #0d130c;
  stroke-width: 1.5px; }
  .segment.segment-1 {
    fill: #8AC37E;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-1:hover {
      fill: #aad3a1;
      transform: scale(1.1); }
  .segment.segment-2 {
    fill: #88B25B;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-2:hover {
      fill: #a1c27e;
      transform: scale(1.1); }
  .segment.segment-3 {
    fill: #459C76;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-3:hover {
      fill: #5db790;
      transform: scale(1.1); }
  .segment.segment-4 {
    fill: #32AFE5;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-4:hover {
      fill: #5fc1eb;
      transform: scale(1.1); }
  .segment.segment-5 {
    fill: #2A7FB9;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-5:hover {
      fill: #4299d4;
      transform: scale(1.1); }
  .segment.segment-6 {
    fill: #385F8C;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-6:hover {
      fill: #4778b0;
      transform: scale(1.1); }
  .segment.segment-7 {
    fill: #AE74AF;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-7:hover {
      fill: #c194c2;
      transform: scale(1.1); }
  .segment.segment-8 {
    fill: #744589;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-8:hover {
      fill: #9057aa;
      transform: scale(1.1); }
  .segment.segment-9 {
    fill: #A7305D;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-9:hover {
      fill: #c94175;
      transform: scale(1.1); }
  .segment.segment-10 {
    fill: #D03B43;
    transition: transform 0.5s ease-in-out, fill 1s linear; }
    .segment.segment-10:hover {
      fill: #da646a;
      transform: scale(1.1); }

.fm-dashed-bracket {
  fill: none;
  stroke: #0d130c;
  stroke-weight: 1px;
  stroke-dasharray: 3 2;
  transition: opacity 0.5s ease-in-out; }

.hidden {
  opacity: 0; }

.label {
  dominant-baseline: ideographic; }
  .label.left {
    text-anchor: end; }
  .label.right {
    text-anchor: start; }

.key {
  border: 1.5px solid #0d130c;
  color: transparent; }
  .key.key-1 {
    background-color: #8AC37E; }
  .key.key-2 {
    background-color: #88B25B; }
  .key.key-3 {
    background-color: #459C76; }
  .key.key-4 {
    background-color: #32AFE5; }
  .key.key-5 {
    background-color: #2A7FB9; }
  .key.key-6 {
    background-color: #385F8C; }
  .key.key-7 {
    background-color: #AE74AF; }
  .key.key-8 {
    background-color: #744589; }
  .key.key-9 {
    background-color: #A7305D; }
  .key.key-10 {
    background-color: #D03B43; }

tr.value-0 {
  width: 0%;
  background-color: #88b25b; }

tr.value-1 {
  width: 1%;
  background-color: #88b25b; }

tr.value-2 {
  width: 2%;
  background-color: #88b25b; }

tr.value-3 {
  width: 3%;
  background-color: #88b25c; }

tr.value-4 {
  width: 4%;
  background-color: #88b25c; }

tr.value-5 {
  width: 5%;
  background-color: #88b25c; }

tr.value-6 {
  width: 6%;
  background-color: #88b35d; }

tr.value-7 {
  width: 7%;
  background-color: #88b35d; }

tr.value-8 {
  width: 8%;
  background-color: #88b35d; }

tr.value-9 {
  width: 9%;
  background-color: #88b35e; }

tr.value-10 {
  width: 10%;
  background-color: #88b35e; }

tr.value-11 {
  width: 11%;
  background-color: #88b35e; }

tr.value-12 {
  width: 12%;
  background-color: #88b45f; }

tr.value-13 {
  width: 13%;
  background-color: #88b45f; }

tr.value-14 {
  width: 14%;
  background-color: #88b45f; }

tr.value-15 {
  width: 15%;
  background-color: #88b460; }

tr.value-16 {
  width: 16%;
  background-color: #88b460; }

tr.value-17 {
  width: 17%;
  background-color: #88b460; }

tr.value-18 {
  width: 18%;
  background-color: #88b561; }

tr.value-19 {
  width: 19%;
  background-color: #88b561; }

tr.value-20 {
  width: 20%;
  background-color: #88b562; }

tr.value-21 {
  width: 21%;
  background-color: #88b562; }

tr.value-22 {
  width: 22%;
  background-color: #88b562; }

tr.value-23 {
  width: 23%;
  background-color: #88b563; }

tr.value-24 {
  width: 24%;
  background-color: #88b663; }

tr.value-25 {
  width: 25%;
  background-color: #88b663; }

tr.value-26 {
  width: 26%;
  background-color: #88b664; }

tr.value-27 {
  width: 27%;
  background-color: #88b664; }

tr.value-28 {
  width: 28%;
  background-color: #88b664; }

tr.value-29 {
  width: 29%;
  background-color: #88b665; }

tr.value-30 {
  width: 30%;
  background-color: #88b765; }

tr.value-31 {
  width: 31%;
  background-color: #88b765; }

tr.value-32 {
  width: 32%;
  background-color: #88b766; }

tr.value-33 {
  width: 33%;
  background-color: #88b766; }

tr.value-34 {
  width: 34%;
  background-color: #88b766; }

tr.value-35 {
  width: 35%;
  background-color: #88b767; }

tr.value-36 {
  width: 36%;
  background-color: #88b867; }

tr.value-37 {
  width: 37%;
  background-color: #88b867; }

tr.value-38 {
  width: 38%;
  background-color: #88b868; }

tr.value-39 {
  width: 39%;
  background-color: #88b868; }

tr.value-40 {
  width: 40%;
  background-color: #88b869; }

tr.value-41 {
  width: 41%;
  background-color: #88b869; }

tr.value-42 {
  width: 42%;
  background-color: #88b969; }

tr.value-43 {
  width: 43%;
  background-color: #88b96a; }

tr.value-44 {
  width: 44%;
  background-color: #88b96a; }

tr.value-45 {
  width: 45%;
  background-color: #88b96a; }

tr.value-46 {
  width: 46%;
  background-color: #88b96b; }

tr.value-47 {
  width: 47%;
  background-color: #88b96b; }

tr.value-48 {
  width: 48%;
  background-color: #88ba6b; }

tr.value-49 {
  width: 49%;
  background-color: #88ba6c; }

tr.value-50 {
  width: 50%;
  background-color: #89ba6c; }

tr.value-51 {
  width: 51%;
  background-color: #89ba6c; }

tr.value-52 {
  width: 52%;
  background-color: #89ba6d; }

tr.value-53 {
  width: 53%;
  background-color: #89bb6d; }

tr.value-54 {
  width: 54%;
  background-color: #89bb6d; }

tr.value-55 {
  width: 55%;
  background-color: #89bb6e; }

tr.value-56 {
  width: 56%;
  background-color: #89bb6e; }

tr.value-57 {
  width: 57%;
  background-color: #89bb6e; }

tr.value-58 {
  width: 58%;
  background-color: #89bb6f; }

tr.value-59 {
  width: 59%;
  background-color: #89bc6f; }

tr.value-60 {
  width: 60%;
  background-color: #89bc70; }

tr.value-61 {
  width: 61%;
  background-color: #89bc70; }

tr.value-62 {
  width: 62%;
  background-color: #89bc70; }

tr.value-63 {
  width: 63%;
  background-color: #89bc71; }

tr.value-64 {
  width: 64%;
  background-color: #89bc71; }

tr.value-65 {
  width: 65%;
  background-color: #89bd71; }

tr.value-66 {
  width: 66%;
  background-color: #89bd72; }

tr.value-67 {
  width: 67%;
  background-color: #89bd72; }

tr.value-68 {
  width: 68%;
  background-color: #89bd72; }

tr.value-69 {
  width: 69%;
  background-color: #89bd73; }

tr.value-70 {
  width: 70%;
  background-color: #89bd73; }

tr.value-71 {
  width: 71%;
  background-color: #89be73; }

tr.value-72 {
  width: 72%;
  background-color: #89be74; }

tr.value-73 {
  width: 73%;
  background-color: #89be74; }

tr.value-74 {
  width: 74%;
  background-color: #89be74; }

tr.value-75 {
  width: 75%;
  background-color: #89be75; }

tr.value-76 {
  width: 76%;
  background-color: #89be75; }

tr.value-77 {
  width: 77%;
  background-color: #89bf75; }

tr.value-78 {
  width: 78%;
  background-color: #89bf76; }

tr.value-79 {
  width: 79%;
  background-color: #89bf76; }

tr.value-80 {
  width: 80%;
  background-color: #89bf77; }

tr.value-81 {
  width: 81%;
  background-color: #89bf77; }

tr.value-82 {
  width: 82%;
  background-color: #89bf77; }

tr.value-83 {
  width: 83%;
  background-color: #89c078; }

tr.value-84 {
  width: 84%;
  background-color: #89c078; }

tr.value-85 {
  width: 85%;
  background-color: #89c078; }

tr.value-86 {
  width: 86%;
  background-color: #89c079; }

tr.value-87 {
  width: 87%;
  background-color: #89c079; }

tr.value-88 {
  width: 88%;
  background-color: #89c079; }

tr.value-89 {
  width: 89%;
  background-color: #89c17a; }

tr.value-90 {
  width: 90%;
  background-color: #89c17a; }

tr.value-91 {
  width: 91%;
  background-color: #89c17a; }

tr.value-92 {
  width: 92%;
  background-color: #89c17b; }

tr.value-93 {
  width: 93%;
  background-color: #89c17b; }

tr.value-94 {
  width: 94%;
  background-color: #89c17b; }

tr.value-95 {
  width: 95%;
  background-color: #89c27c; }

tr.value-96 {
  width: 96%;
  background-color: #89c27c; }

tr.value-97 {
  width: 97%;
  background-color: #89c27c; }

tr.value-98 {
  width: 98%;
  background-color: #89c27d; }

tr.value-99 {
  width: 99%;
  background-color: #89c27d; }

table.fallback {
  width: 100%; }
  table.fallback tr {
    display: block;
    margin-bottom: 0.6em;
    color: white;
    position: relative; }
    table.fallback tr td.value {
      position: absolute;
      top: 0.1em;
      right: 0.1em; }
  table.fallback th {
    color: #0d130c; }

/*# sourceMappingURL=main.css.map */
